body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.canva-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(234, 231, 231);
  border-radius: 0.5rem;
  margin: 0.5rem;
}

.stats-canva-container {
  display: flex;
  justify-content: center;
}

#myCanvas {
  background-color: rgb(252, 252, 252);
  margin: 10px;
}

#networkCanvas {
  margin: 10px;
  background-color: black;
}

#btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#btns button {
  margin-top: 10px;
  padding: 10px;
}

#btns button:hover {
  cursor: pointer;
  background-color: blue;
}

.directions li {
  font-size: 18px;
}

.note {
  font-size: 16px;
}
