body {
  display: flex;
}

#myCanvas {
  background-color: rgb(252, 252, 252);
  margin: 1rem;
}

#networkCanvas {
  background-color: black;
}

#btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#btns button {
  margin-top: 1rem;
  padding: 0.5rem;
}

#btns button:hover {
  cursor: pointer;
  background-color: blue;
}
